<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to fazbook</h1>
    <a href="/users/new">Create New User</a>
    <% users.forEach(function(user) { %>
      <div>
        <span><%= user.firstName %></span>
        <span><%= user.lastName %></span>
        <a href= '<%= `/users/show/${user.id}` %>'>Visit users page</a>
      </div>
    <% }) %>
  </body>
</html>
